fastapi==0.115.6
uvicorn==0.34.0
pandas==2.2.3
numpy>=1.24  # Allow newer versions of numpy
scikit-learn==1.6.0
lazypredict==0.2.13
matplotlib==3.10.0
seaborn==0.13.2
python-dotenv==1.0.1
pydantic==2.10.4
pydantic-settings==2.7.0
pydantic_core==2.27.2
python-multipart==0.0.20
httpx==0.28.1
orjson==3.10.12
psycopg2==2.9.10
wordcloud==1.9.4
plotly==5.24.1
psutil==6.1.1
dask==2024.12.1
scipy==1.14.1
joblib==1.4.2